html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.l-layout {
    margin: 0 auto;
    min-width: 2050px;
}
.header {
  font-family: 'Montserrat', sans-serif;
}
.header__top {
  background-color: #333333;
  color: #999999;
  font-weight: 600;
  font-size: 13px;
  left: 0px;
  top: 0px;
  line-height: 45px;
}
.header__top-wrapper {
  margin: 0 440px 0 440px;
}
.header__top-money {
  display: inline-block;
}
.header__top-union {
  float: right;
}
.header__top-reg {
  display: inline-block;
  text-align: left;
  width: 85px;
}
.header__top-sign {
  display: inline-block;
  text-align: left;
  width: 125px;
}
.header__top-cart {
  background-color: #00c8c8;
  color: #ffffff;
  width: 150px;
  display: inline-block;
  text-align: right;
  cursor: pointer;
}
.header__top-link {
  color: #999999;
  text-decoration: none;
}
.header__top-link_cart {
  color: white;
}
.header__top-empty {
  padding: 0 25px 0 25px;
}
.header__top-img {
  position: relative;
  top: 7px;
  left: 5px;
}
.menu {
  background-color: #f8f8f8;
  background-image: url(img/man-header.png);
  background-repeat: no-repeat;
  background-position: 20% 0;
  height: 920px;
}
.menu__wrapper {
  line-height: 92px;
  display: flex;
  align-items: flex-end;
}
.menu__logo-text {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
.menu__logo {
  flex: 1 1 370px;
  margin-left: 135px;
}
.menu__logo-text_bold {
  font-weight: 700;
}
.menu__nav {
  text-transform: uppercase;
  color: #222222;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  flex: 1 1 1325px;
  justify-content: flex-end;
  margin-right: 115px;
}
.menu__nav-list {
  margin-left: 48px;
}
.menu__nav-list::before {
  content: "";
  color: #989898;
  position: relative;
  top: 20px;
  left: 9px;
}
.menu__nav-link {
  text-decoration: none;
  color: #222222;
}
.menu__nav-link:focus {
  color: #00c8c8;
}
.menu__nav-link:hover {
  color: #00c8c8;
}
input[type="text"] {
  background-color: #f8f8f8;
  width: 190px;
  height: 28px;
  border: 1px solid #e7e7e7;
  color: #989898;
  box-sizing: padding-box;
}
input[type="text"]::-webkit-input-placeholder {
  padding: 0 10px 0 10px;
}
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus {
  outline: none;
}
.menu__search {
  flex: 1 1 376px;
}
.menu__search-img {
  position: relative;
  top: 6px;
  right: 25px;
}
.menu__submenu {
  background-color: #f8f8f8;
  width: 467px;
  height: 527px;
  margin-left: auto;
  z-index: 3;
  position: relative;
  margin-right: 28%;
  padding: 27px 30px 30px 30px;
  box-sizing: border-box;
  box-shadow: 0 6px 15px 4px rgba(0,0,0,0.1);
}
.menu__submenu-first {
  width: 59%;
  display: inline-block;
}
.menu__submenu-second {
  float: right;
  width: 41%;
}
.menu__submenu-link {
text-decoration: none;
  color: #727272;
}
.menu__submenu-link:focus {
  color: #00c8c8;
}
.menu__submenu-link:hover {
  color: #00c8c8;
}
.menu__submenu-item {
  display: block;
  color: #727272;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 11px;
}
.menu__submenu-item_name {
  color: #575153;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.menu__submenu-event {
  background-color: #333333;
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  height: 200px;
  box-sizing: border-box;
  margin-top: 70px;
  padding-top: 53px;
}
.menu__submenu-sale {
  display: inline-block;
  padding: 0 53px 5px 57px;
}
.menu__letter {
  color: #575153;
  font-size: 450px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  top: -67.6%;
  display: flex;
  justify-content: space-between;
  padding: 0 229px 0 268px;
}
.menu__mens {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #454647;
  border: 1.5px solid #737373;
  box-sizing: border-box;
  width: 340px;
  height: 60px;
  margin-left: auto;
  margin-right: 17%;
  margin-top: 118px;
}
.menu__mens:hover {
  color: white;
  background-color: #00c8c8;
  border: 1.5px solid #00c8c8;
}
.menu__mens-text {
  display: inline-block;
  letter-spacing: 1.4px;
  padding: 19px 0 0 48px;
}
.collection {
  margin: 63px 137px 63px 137px;
  border-top: 1.5px solid #eeeeee;
  border-bottom: 1.5px solid #eeeeee;
  padding-bottom: 46px;
  font-family: 'Montserrat', sans-serif;
}
.collection__menu {
  color: #727272;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  padding: 48px 0 48px 0;
}
.collection__menu-list {
  padding-right: 55px;
}
.collection__menu-link {
  text-decoration: none;
  color: #727272;
}
.collection__menu-link:focus {
  color: #00c8c8;
}
.collection__menu-link:hover {
  color: #00c8c8;
}
.collection__lookbook {
  display: flex;
  justify-content: space-between;
}
.collection__lookbook-column1 {
  width: 870px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  float: right;
  justify-content: space-between;
}
.collection__lookbook-column2 {
  width: 870px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  float: right;
  justify-content: space-between;
}
.collection__lookbook-item {
  padding: 13px 0 13px 0;
  position: relative;
  display: inline-block;
}
.collection__lookbook-price {
  color: #9a9a9a;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  top: 24px;
  left: 16px;
  display: inline-block;
}
.collection__lookbook-price_sup {
  font-size: 13px;
  vertical-align: top;
}
.collection__lookbook-price_line {
  text-decoration: line-through;
}
