html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.l-layout {
  margin: 0 auto;
  min-width: 1800px;
}
.header {
  font-family: 'Montserrat', sans-serif;
}
.header__top {
  background-color: #333333;
  color: #999999;
  font-weight: 600;
  font-size: 13px;
  left: 0px;
  top: 0px;
  line-height: 45px;
}
.header__top-options {
  margin: 0 auto;
  width: 1170px;
}
.header__top-currency {
  display: inline-block;
}
.header__top-text::after {
  content: "\f107";
  font-family: FontAwesome;
  color: #999999;
  font-size: 14px;
  padding-left: 7px;
}
.header__top-wrapper {
  float: right;
}
.header__top-actions {
  display: inline-block;
  text-align: left;
  width: 90px;
}
.header__top-cart {
  background-color: #00c8c8;
  color: #ffffff;
  width: 147px;
  display: inline-block;
  text-align: right;
  cursor: pointer;
  margin-left: 30px;
}
.header__top-link {
  color: #999999;
  text-decoration: none;
}
.header__top-link_cart {
  color: white;
}
.header__top-empty {
  padding: 0 25px 0 15px;
}
.header__top-empty::after {
  content: "\f107";
  font-family: FontAwesome;
  color: white;
  font-size: 14px;
  padding-left: 7px;
}
.header__top-img {
  position: relative;
  top: 7px;
  left: -5px;
}
.menu {
  background-color: #f8f8f8;
  background-image: url(img/man-header.png);
  background-repeat: no-repeat;
  background-position: 20% 0;
  height: 920px;
  margin-bottom: 65px;
}
.menu__top {
  line-height: 99px;
  margin: 0 auto;
  width: 1650px;
}
.menu__logo-text {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.menu__logo {
  float: left;
  display: inline-block;
}
.menu__logo-text_bold {
  font-weight: 700;
}
.menu__nav-wrapper {
  display: flex;
  justify-content: flex-end;
}
.menu__nav {
  text-transform: uppercase;
  color: #222222;
  font-weight: 600;
  font-size: 13px;
  display: flex;
}
.menu__nav-list {
  margin-right: 48px;
}
.menu__nav-list::before {
  content: "\f107";
  font-family: FontAwesome;
  color: #989898;
  position: relative;
  top: 20px;
  left: 10px;
  font-size: 14px;
}
.menu__nav-list_none::before {
  color: #f8f8f8;
}
.menu__nav-list:hover .menu__submenu {
  display: block;
}
.menu__nav-link {
  text-decoration: none;
  color: #222222;
}
.menu__nav-link:hover {
  color: #00c8c8;
}
.menu__nav-link:active {
  color: #00c8c8;
}
.menu__nav-link:focus {
  color: #00c8c8;
}
.menu__nav-link_active {
  color: #00c8c8;  
}
.menu__search-button {
  position: relative;
  top: 1px;
  right: 33px;
  cursor: pointer;
  background-color: #f8f8f8;
  border: none;
  outline: none;
}
.menu__search-button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #989898;
  font-size: 14px;
}
input[type="text"] {
  background-color: #f8f8f8;
  width: 170px;
  height: 28px;
  border: 1px solid #e7e7e7;
  color: #989898;
  padding: 0 10px 0 10px;
  margin-left: 70px;
}
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus {
  outline: none;
}
.menu__submenu {
  display: none;
  background-color: #f8f8f8;
  width: 467px;
  height: 520px;
  padding: 33px 30px 30px 30px;
  box-sizing: border-box;
  box-shadow: 0 6px 15px 4px rgba(0,0,0,0.1);
  position: absolute;
}
.menu__submenu_lookbook {
  height: 430px;
}
.menu__submenu-first {
  width: 59%;
  display: inline-block;
}
.menu__submenu-second {
  float: right;
  width: 41%;
}
.menu__submenu-link {
  text-decoration: none;
  color: #727272;
}
.menu__submenu-link:focus {
  color: #00c8c8;
}
.menu__submenu-link:hover {
  color: #00c8c8;
}
.menu__submenu-item {
  display: block;
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
}
.menu__submenu-item_name {
  color: #575153;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 10px;
  padding-bottom: 18px;
}
.menu__submenu-event {
  background-color: #333333;
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 48px;
  margin-top: 15px;
}
.menu__submenu-sale {
  display: block;
  line-height: 50px;
}
.menu__letter {
  color: #575153;
  font-size: 450px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 45px;
  margin: 85px 0 0 220px;
}
.menu__mens {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #454647;
  border: 1.5px solid #737373;
  box-sizing: border-box;
  display: inline-block;
  width: 340px;
  height: 60px;
  text-align: center;
}
.menu__mens-wrapper {
  width: 33%;
  margin-left: auto;
}
.menu__mens:hover {
  color: white;
  background-color: #00c8c8;
  border: 1.5px solid #00c8c8;
}
.menu__mens-text {
  display: inline-block;
  letter-spacing: 1.4px;
  line-height: 57px;
}
.collection {
  width: 1735px;
  margin: 0 auto;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 46px;
  font-family: 'Montserrat', sans-serif;
}
.collection__menu {
  color: #727272;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  padding: 48px 0 48px 0;
}
.collection__menu-list {
  padding-right: 55px;
}
.collection__menu-link {
  text-decoration: none;
  color: #727272;
}
.collection__menu-link:focus {
  color: #00c8c8;
}
.collection__menu-link:hover {
  color: #00c8c8;
}
.collection__menu-link_active {
  color: #00c8c8;
}
.collection__lookbook {
  display: flex;
  justify-content: space-between;
}
.collection__lookbook-column1 {
  width: 858px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  float: right;
  justify-content: space-between;
}
.collection__lookbook-column2 {
  width: 858px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  float: right;
  justify-content: space-between;
}
.collection__lookbook-clothes {
  width: 100%;
}
.collection__lookbook-resize {
  width: 21%;
  border: 1px solid white;
  position: absolute;
  top: 15px;
  right: 15px;
}
.collection__lookbook-resize_low {
  top: 130px;
}
.collection__lookbook-resize_small {
  width: 15%;
}
.collection__lookbook-detail {
  position: absolute;
  top: 45%;
  right: 50%;
}
.collection__lookbook-preview {
  display: none;
}
.collection__lookbook-item:hover .collection__lookbook-preview {
  display: block;
}
.collection__lookbook-cost {
  position: absolute;
  top: 10px;
  left: 15px;
}
.collection__lookbook-price {
  color: #9a9a9a;
  font-size: 21px;
  font-weight: 400;
}
.collection__lookbook-price_sup {
  font-size: 13px;
  vertical-align: top;
}
.collection__lookbook-price_discount {
  text-decoration: line-through;
}
.collection__lookbook-item {
  position: relative;
  margin-bottom: 15px;
}
.collection__lookbook-item:hover .collection__lookbook-description {
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
  display: block;
  position: absolute;
  z-index: 3;
}
.collection__lookbook-item:hover {
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}
.collection__lookbook-description {
  display: none;
  height: 150px;
  background-color: white;
  bottom: -147px;
  width: 100%;
  color: #9a9a9a;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10% 0 10%;
}
.collection__lookbook-title {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 45px;
}
.collection__lookbook-info {
  display: inline-block;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.collection__lookbook-icons {
  padding-top: 15px;
}
.collection__lookbook-button {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: inline-block;
  background-color: #727272;
  background-repeat: no-repeat;
  background-position: center center;
}
.collection__lookbook-button_cart {
  background-image: url(img/icons/cart.png);
}
.collection__lookbook-button_wishlist {
  background-image: url(img/icons/wishlist.png);
}
.collection__lookbook-button_compare {
  background-image: url(img/icons/compare.png);
}
.collection__lookbook-button:hover {
  background-color: #00c8c8;
}
.lookbook {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 100px;
  color: #575153;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
}
.lookbook__item-text {
  position: absolute;
  top: 70px;
  right: 35px;
}
.lookbook__item {
  width: 663px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: right;
  position: relative;
  margin: 65px 20px 0 20px;
}
.lookbook__item-title {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
  display: block;
}
.lookbook__item-title_bold {
  font-weight: 700;
}
.lookbook__item-description {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 380px;
  display: block;
  padding: 15px 0 15px 0;
}
.lookbook__item-button {
  color: #454647;
  font-size: 16px;
  width: 180px;
  height: 60px;
  box-sizing: border-box;
  border: 1.5px solid #737373;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  line-height: 55px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #f8f8f8;
  border-radius: 0 0 0 0;
}
.lookbook__item-button:hover {
  color: white;
  background-color: #00c8c8;
  border: 1.5px solid #00c8c8;
}
.lookbook__item-link {
  text-decoration: none;
  color: #454647;
}
.footer {
  height: 590px;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  color: #727272;
}
.footer__wrapper {
  margin: 0 auto;
  width: 1170px;
  padding: 57px 0 53px 0;
}
.footer__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__menu-column {
  flex: 1;
}
.footer__menu-item {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.footer__menu-item_title {
  color: #575153;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.footer__menu-link {
  text-decoration: none;
  color: #727272;
}
.footer__menu-link:focus {
  color: #00c8c8;
}
.footer__menu-link:hover {
  color: #00c8c8;
}
.footer__menu-link_active {
  color: #00c8c8;
}
.footer__menu-contact {
  flex: 1.2;
}
.footer__menu-item_address {
  margin-bottom: -9px;
}
.footer__menu-item_phone {
  margin-top: 10px;
  line-height: 28px;
}
.footer__info {
  padding-top: 53px;
}
.footer__info-box {
  width: 570px;
  height: 200px;
  background-color: #333333;
  color: white;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding-top: 56px;
}
.footer__info-box_social {
  background-color: #00c8c8;
  float: right;
    padding-top: 81px;
}
.footer__info-text {
  display: block;
}
.footer__info-text_bold {
  font-weight: 700;
}
.footer__info-icons {
  margin: 0 22px 0 22px;
  display: inline-block;
}
.copyright {
  height: 45px;
  color: #777777;
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 40px;
}
.copyright__wrapper {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  flex-flow: row nowrap;
}
.copyright__title {
  color: #999999;
  text-align: left;
  flex: 1 1 300px;
}
.copyright__info {
  text-align: right;
  flex: 1 1 200px;
}
.copyright__info_design {
  margin-right: 35px;
}